/* typography */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #000;
    background-color: #FFF;
    overflow-x: hidden;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

p {
    font-family: 'Lato', 'san-serif';
    font-size: 20px;
    font-weight: 500;
}

.underline {
    text-decoration: underline  ;
}

#backtop {
    color: #FFF;
    background-color: #000;
    padding: 16px;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    left: 95%;
    cursor: pointer;
}
    #bactop:hover {
        background-color: rgb(0, 0, 0, 0.6);
    }


/* global styles */
.container {
    max-width: 90%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 900;
}


a {
    font-family: 'lato', 'sans-serif';
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.fa {
    display: block;
}
    /* .fa-arrow-right, .fa-arrow-left {
        font-size: 30px;
    } */

/* header */
header {
    padding: 10px 0;
    max-height: 8vh;
}

    .logo-burger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        position: relative;
        z-index: 10001;
    }
        .logo-burger-pad {
            padding: 0 100px;
        }

    .logo img {
        height: 60px;
        width: 60px;
    }

    .burger {
        cursor: pointer;
    }
    .burger div {
        margin-bottom: 5px;
        width: 25px;
        height: 2px;
        background-color: #000;
    }
        /* changes burger color to white onclick */
        .burger-white {
            background-color: #FFF;
        }

    /* hide navigation by default */
    nav {
        display: none;
        transition: transform 0s ease-in;
        color: #FFF;
        padding: 20px 100px;
        height: 90vh;
        background-color: #000;
        position: relative;
        z-index: 10000;
        margin-top: -25px;
    }
        nav a {
            color: #FFF;
            text-decoration: none;
        }
            nav a:hover {
                text-decoration: underline;
            }

        .nav-box {
            display: flex;
            justify-content: space-between;
        }

        .small-links {
            position: relative;
            left: 50%;
            font-size: 1.2rem;
        }

        .big-links {
            font-size: 2.5rem;
            text-align: right;
        }
            .big-links li, .small-links li {
                margin-bottom: 10px;
                margin-top: 0;
            }
        .nav-footer {
            margin-top: 15%;
        }
            .nav-footer a {
                padding-right: 20px;
            }
        .nav-footer h4, .footer-p {
            margin: 5px 0 0 0;
        }

    /* contact us page navigation visible by default */
    .contact-nav {
        display: block;
    }

    .contact-header {
        background-color: #000;
    }
        .contact-header a {
            text-decoration: none;
            color: #FFF;
        }
    .contact-logo-burger {
        padding: 0 100px;
    }

    .contact-burger div{
        background-color: #FFF;
    }
        .contact-burger .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        .contact-burger .line2 {
            opacity: 0;
        }
        .contact-burger .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }

    /* to make header turn black background */
    .header-black {
        color: #FFF;
        background-color: #000;
        margin-bottom: 0;
    }

    /* JS toggle class to make navbar visible */
    .nav-active {
        display: block;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        background-color: #FFF;
    }

    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        background-color: #FFF;
    }

/* contact us navigation */
.contact-us-cont {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
    .hello {
        max-width: 30%;
    }    
        .hello h2 {
            margin-bottom: 5px;
        }
        .hello p {
            margin: 0;
        }

    form {
        width: 100%;
    }
    
    .contact-form {
        max-width: 50%;
        margin: 0 auto;
    }
        .contact-form input {
            width: 95%;
            background-color: inherit;
            padding: 40px 10px 20px 10px;
            border: none;
            outline: none;
            border-bottom: 2px solid rgb(255, 255, 255, 0.5);
        }
            .contact-form input::placeholder {
                color: rgb(255, 255, 255, 0.5);
                font-family: 'lato', 'sans-serif';
                font-size: 1rem;
            }
        .contact-form input[type=submit] {
            color: #FFF;
            padding: 10px 20px;
            background-color: #E77F11;
            margin: 20px auto 0;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            width: 100%;
            border: none;
            cursor: pointer;
        }
        .contact-form input[type=submit]:hover {
            font-weight: 700;
        }
        
    /* join us page */
    .split-input {
        display: flex;
        justify-content: space-between;
    }
    .input-half {
        max-width: 45%;
        padding-right: 0 !important;
    }

/* landing page */
.landing {
    height: 400px;
    padding: 1% 10px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-top: 20px;
}

/* landing page for work page */
.work-land {
    color: #FFF;
    background-color: #000;
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
}
    .work-land-head {
        max-width: 50%;
        margin: 0 auto;
    }

    .work-land p {
        max-width: 70%;
        margin: 20px auto;
    }

.landing p {
    max-width: 70%;
    margin: 20px auto;
}
/* pages */
.pages {
    display: flex;
    justify-content: space-between;
    max-width: 98%;
    margin: 10px auto;
    min-height: 300px;
    position: relative;
}
    .page-img {
        max-width: 60%;
        height: 100%;
    }
        .page-picture {
            max-width: 100%;
        }

            .picture-border-left {
                border-top-left-radius: 80px;
            }

            .picture-border-right {
                border-top-right-radius: 80px;
            }
    .page-name {
        width: 35%;
        margin-bottom: 0;
    }
        /* align text to left and right so as to set with border of the container */
        .name-left {
            margin-bottom: 0;
            text-align: left;
            
        }

        .name-right {
            text-align: right;
        }

        .subtitle {
            color: #CCC;
            font-weight: 500;
        }


/* creative expertise */
.expertise {
    max-width: 80%;
    margin: 10px auto;
    text-align: center;
}
    .expertise h1, .expertise p {
        margin: 0;
    }

    .expertise ul {
        max-width: 60%;
        margin: 10px auto;
        margin-top: 50px;
    }

        .expertise li {
            font-size: 2rem;
            margin-bottom: 20px;
            text-align: center;
        }


/* creative process */
.creative-process {
    color: #FFF;
    background-color: #000;
    min-height: 400px;
    padding: 60px;
    box-sizing: border-box;
}
    .creative-flex {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
        .creative-flex h1, .creative-flex p {
            margin: 0;
        }

        .creative-flex h1 {
            font-size: 3rem;
            max-width: 38%;
        }

        .creative-flex p {
            max-width: 50%;
        }
    .creative-items {
        max-width: 90%;
        display: flex;
        margin: 20px auto;
        justify-content: space-evenly;
        align-items: center;
    }
        .creative-items i {
            
        }
            .fa-arrow-down {
                visibility: hidden;
            }
            .fa-arrow-right {
                visibility: visible;
            }

        .creative-item {
            font-size: 1.2rem;
            max-width: 20%;
        }

/* create magic */
.create-magic {
    width: 100%;
    background-color: #F9F9F9;
    text-align: center;
    min-height: 200px;
    padding: 15px 0;
}
    .magic-btn {
        padding: 5px 30px;
        color: #FFF;
        background-color: #E77F11;
    }
        .magic-btn:hover {
            font-weight: 600;
        }

/* create magic work page */
.create-magic-work-page {
    color: #FFF;
    background-color: rgb(0, 0, 0, 0.9);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}
    .div-1, .div-2 {
        max-width: 40%;
    }

    .create-magic-work-page h5 {
        font-size: 1.2rem;
        text-align: center;
        margin: 0;
    }

    .testimony-header {
        font-style: italic;
        margin-bottom: 20px !important;
    }

    .testimony {
        text-align: center;
    }
        .testimony-img {
            height: 70px;
            width: 70px;
            background-color: #CCC;
            border-radius: 50%;
            margin: 0 auto;
        }

        .testimony-p {
            font-size: .9rem;
            margin: 0;
        }

        .testimony-quote {
            max-width: 60%;
            margin: 10px auto;
            font-size: .9rem;
            text-align: justify;
        }

/* services page */
.service-page {
    text-align: center;
}
    .services {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }

    .service {
        color: #FFF;
        background-color: #000;
        height: 200px;
        width: 200px;
        text-align: center;
        padding: 25px 5px;
        box-sizing: border-box;
        border-radius: 20px;
    }

        .service .fa {
            font-size: 90px;
        }




/* images page */
.all-images {
    width: 100%;
    max-height: 800px;
    box-sizing: border-box;
    margin: 10px auto;
}
    .three-imgs {
        display: flex;
        justify-content: space-evenly;
        margin: 30px auto;
    }
        .box-imgs {
            height: 350px;
            width: 250px;
        }
        .box-imgs-1 {
            width: 400px;
        }

/* story page */
.our-story {
    margin: 10px auto;
    display: block;
    position: relative;
}
.story-para {
    max-width: 80%;
    margin: 10px 0 10px 15%;
}


/* meet our people */
.our-people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 100%;
}
    .people {
        background-position: center;
        background-size: cover;
        text-align: center;
        width: 33%;
        height: 400px;
        box-sizing: border-box;
        cursor: pointer;
        padding: 0;
    }
        .people p, .people h3 {
            text-align: right;
            padding: 5px 5px;
        }
        .people h3 {
            background-color: #E77F11;
            color: #FFF;
            font-size: 1rem;
            max-width: 45%;
            margin-left: 65% !important;
            margin: 0;
            margin-top: 100%;
        }
        .people p {
            max-width: 30%;
            margin: 0;
            margin-left: 70%;
            background-color: #FFF;
            color: #000;
            font-size: 1rem;
        }

    /* popup page */
    .slide-main-cont {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        display: none;
        position: relative;
        box-sizing: border-box;
        z-index: 12000;
        text-align: center;
    }
        /* JS function to make container dark onclick of the popup in about us page */
        .container-dark {
            display: block;
        }
        .container-dark-inactive {
            display: none;
        }

        /* JS - to make body color change to dark or white */
        .dark-body {
            background-color:rgba(0, 0, 0, .9); 
        }
        .white-body {
            background-color: #FFF;
        }
    .slideshow-container {
        background-color: #000;
        color: #FFF;
        width: 100%;
        height: 80vh;
        margin: 0 auto;
        border-radius: 20px;
        position: relative;
        display: none;
    }
        /* JS function to make slide popup */
        .slide-active {
            display: block;
        }
        .slide-inactive {
            display: none;
        }

        .slideshow-container a {
            text-decoration: none;
            color: #FFF;
        }
        .slide-burger {
            cursor: pointer;
            position: relative;
            top: 10px;
            left: 90%;
            width: 30px;
            height: 30px;
        }

        .slide-burger div {
            background-color: #FFF;
            width: 25px;
            height: 2px;
            margin: 15px;
        }

            .slide-line1 {
                transform: rotate(-45deg) translate(-5px, 6px);
            }

            .slide-line2 {
                transform: rotate(45deg) translate(-5px, -6px);
            }


        .mySlides {
            height: auto;
            margin: 0 auto;
            margin-top: 30px;
            display: flex;
            max-width: 90%;
            justify-content: space-between;
            align-items: flex-start;
        }
            .slide-img {
                width: 35%;
                max-width: 35%;
                box-sizing: border-box;
                max-height: 250px;
            }
                .slide-pic {
                    border-radius: 10px;
                    border: 2px solid #FFF;
                    width: 200px;
                    height: 200px;
                }
                .slide-img h5 {
                    font-size: 1.7rem;
                    margin: 0;
                }
                .slide-img p {
                    margin: 0;
                }

                .socials {
                    display: flex;
                    justify-content: space-between;
                    max-width: 50%;
                    margin: 10px auto;
                }
                    .socials a:hover {
                        font-size: 1.3rem;
                    }
            .slide-text {
                width: 60%;
                max-width: 60%;
                text-align: justify;
                margin: 0;
            }
                .slide-text p {
                    margin: 0;
                }
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: relative;
        top: -40%;
        margin-top: -22px;
        padding: 16px;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        user-select: none;
        padding: 16px;
    }
    
    /* Position the "next button" to the right */
    .next {
        left: 91%;
        border-radius: 3px 0 0 3px;
    }

        .prev:hover, .next:hover {
            background-color: rgba(204, 204, 204, 0.527);
        }
  

/* BLOG */
.blog-header {
    max-width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .blog-header p {
        font-style: italic;
    }

    .blog-cont {
        height: 1600px;
        overflow: hidden;
        max-width: 98%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-bottom: 50px;
    }
        .aside {
            max-width: 28%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
            .blog-card {
                padding: 2% 10px;
                width: 100%;
                max-width: 100%;
                height: 24%;
                max-height: 24%;
                box-sizing: border-box;
                overflow: hidden;
                background-color: #F9F9F9;
                margin: 0 auto;
                text-align: center;
            }
                .blog-card h6 {
                    margin: 10px auto;
                    text-align: left;
                    font-weight: 600;
                }

                .blog-card p {
                    text-align: justify;
                    font-size: .8rem !important;
                    margin: 0;
                }

                .card-img {
                    width: 50%;
                    max-width: 50%;
                    margin: 5px 0;
                }

                .blog-author {
                    text-align: left;
                    margin: 10px auto;
                    display: flex;
                }
                    .blog-author p {
                        text-align: left;
                        margin-right: 15px;
                        display: inline;
                    }
                    .blog-author i {
                        display: inline;
                        padding-right: 5px;
                    }

        .main {
            max-width: 70%;
            height: 100%;
            background-color: #F9F9F9;
        }
            .main-img {
                max-height: 350px;
            }
            
            .main h2 {
                margin: 0 auto;
            }

            .main-body {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 90%;
                max-width: 90%;
                margin: 10px auto;
            }
                .main-body p {
                    text-align: justify;
                    font-size: .9rem;
                }
                .para-aside {
                    width: 35%;
                    max-width: 35%;
                }
                .para-main {
                    width: 60%;
                    max-width: 60%;
                }
                .quote {
                    font-size: 1rem !important;
                    font-weight: 600;
                }



    /* 404 page */
    .missing-page-container {
        background-color: #000;
        color: #FFF;
        width: 100%;
        padding: 10%;
        padding-bottom: 0;
        margin-top: 20px;
    }
        .page-not-found {
            margin-bottom: 0;
        }

    /* brief page */
    .tick span {
        font-size: 4rem;
        vertical-align: middle;
        line-height: 6rem;
    }
        .tick {
            background-color: #E77F11;
            height: 6rem;
            width: 6rem;
            text-align: center;
            border-radius: 50%;
            margin: 0 auto;
        }
    .brief-footer {
        margin-top:  10%;
    }

    .heart {
        color: #E77F11;
    }
/* footer */
footer {
    text-align: left;
    color: #FFF;
    background-color: #000;
    min-height: 250px;
    padding: 20px 10px;
}

    .contact {
        display: flex;
        justify-content: space-evenly;
    }
        .footer-card-1 {
            line-height: 135px;
        }

        .contact-p-head {
            text-transform: uppercase;
        }

        .close-margin {
            margin-bottom: 0;
        }
        
        .close-margin-1 {
            margin-top: 0;
        }

        footer .fa {
            padding-right: 20px;
            display: inline;
        }

        footer a {
            color: #FFF;
        }

            footer a:hover {
                font-size: 25px;
            }



/* media queries for landing page */
@media screen and (max-width: 800px) {
    .container {
        max-width: 98%;
    }

    body {
        padding: 0 1%;
        overflow-x: hidden;
    }

    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    h4 {
        font-size: 20px;
    }
    
    /* navigation */
    header {
        margin-bottom: 0;
    }

    .logo-burger {
        padding: 0px 5px;
    }

    nav {
        margin-top: -20px;
        padding: 20px;
        height: auto;
    }

    .nav-box {
        flex-direction: column;
        align-items: flex-end;
    }

    .big-links {
        -webkit-order: 0;
        order: 0;
        margin-bottom: 20px;
    }
        .big-links li {
            margin-bottom: 5px;
        }

    .small-links {
        -webkit-order: 1;
        order: 1;
        text-align: right;
        left: 0;
    }

    .logo-burger-pad {
        padding: 0 20px;
    }

    .nav-footer {
        margin-top: 10%;
    }

    /* contact navigation page */
    .contact-us-cont {
        flex-direction: column;
        align-items: center;
    }
        .hello {
            max-width: 95%;
        }

        .contact-form {
            max-width: 95%;
        }
            .contact-form input {
                width: 97%;
                padding: 20px 10px;
            }

            .contact-form input[type=submit] {
                width: 103%;
                margin: 20px auto;
            } 

    /* join us page */
    .split-input {
        flex-direction: column;
    }
    .input-half {
        max-width: 97%;
        padding-right: 10px !important;
    }

    /* landing */
    .landing {
        height: auto;
        padding: 20px 8%;
        align-items: center;
    }
        .landing h1, .landing p {
            width: 100%;
        }
        .work-land-head, .work-land p {
            max-width: 100% !important;
        }
        .landing h1 {
            margin: 20px 0;
        }

        .work-land p {
            margin-bottom: 0;
        }

        .landing p {
            max-width: 90%;
            margin: 10px auto;
        }

    /* pages */
    .pages {
        flex-direction: column;
        margin-top: 0;
        padding: 0;
        justify-content: space-evenly;
    }
        .page-img {
            max-width: 98%;
            margin: 0 auto;
        }

        .picture-border-left, .picture-border-right {
            border-radius: 0;
        }

        .page-name {
            width: 50%;
            margin-bottom: 0 !important;
        }
            .page-name h3, .page-name p {
                margin: 0;
            }

        .page-picture {
            margin-top: 0;
        }

        .name-right {
            text-align: left;
            -webkit-order: 1;
            order: 1;
        }

        .page-img {
            -webkit-order: 2;
            order: 2;
        }

        .fa-arrow-right, .fa-arrow-left {
            display: none;
        }


    /* services page */
    .services {
        flex-direction: column;
    }
        .service {
            margin: 20px auto;
        }


    /* creative expertise */
    .expertise {
        max-width: 95%;
    }
        .expertise ul {
            max-width: 99%;
        }
        .expertise-list li {
            list-style: square;
            font-size: 1.5rem;
        }

    /* creative process page */
    .creative-flex, .creative-items {
        text-align: center;
        flex-direction: column;
    }

    .creative-flex h1, .creative-flex p {
        max-width: 99%;
    }

    .creative-flex h1 {
        font-size: 2rem;
    }

    .creative-item {
        max-width: 90%;
        margin: 20px auto;
        text-align: center;
    }
        .creative-items i {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            height: 30px;
            width: 30px;
            line-height: 30px;
            font-size: 20px;
        }
            .fa-arrow-down {
                visibility: visible;
            }
            .fa-arrow-right {
                visibility: hidden;
            }

    /* create magic */
    .create-magic-work-page {
        flex-direction: column;
    }

    .div-1, .div-2 {
        max-width: 100%;
        margin: 20px auto;
        padding: 0;
    }

    .div-1 {
        text-align: center;
        margin-bottom: 30px;
    }

    /* images page */
    /* .all-images {
        height: 300px;
    } */

    .box-imgs {
        width: 28%;
        max-height: 180px;
    }

    /* story page */
    .story-para {
        max-width: 92%;
        margin: 20px auto;
        text-align: justify;
    }

    /* meet our people */
    .people {
        width: 350px;
        margin: 10px auto;
    }


    /* popup page */
    .slideshow-container {
        width: 100%;
        height: auto !important;
        top: 0;
    }
        .slide-burger {
            left: 82%;
        }

        .mySlides {
            flex-direction: column;
            height: auto !important;
        }
            .slide-img {
                width: 100%;
                max-width: 100%;
                margin: 10px auto;
                max-height: 280px;
            }

            .slide-text {
                position: relative;
                width: 90%;
                max-width: 90%;
                margin: 10px auto;
            }
                .slide-text p {
                    font-size: 1rem;
                }
            .prev, .next {
                position: absolute;
                top: 50%;
                padding: 10px;
            }
                .next {
                    left: 90%;
                }
                .prev {
                    right: 90%;
                }
    /* BLOG */
    .blog-header {
        flex-direction: column;
        align-items: flex-start;
        max-width: 90%;
    }
        .blog-header h1 {
            margin: 0;
        }
    .blog-cont {
        flex-direction: column;
        height: auto;
    }
        .aside {
            -webkit-order: 1;
            order: 1;
            width: 90%;
            max-width: 90%;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 10px auto;
            justify-content: space-between;
        }
            .blog-card {
                width: 48%;
                max-width: 48%;
                margin: 0;
                margin-bottom: 20px;
            }

            .blog-author p {
                text-align: left;
                margin-right: 2px;
                font-size: .6rem !important;
            }
                .blog-author:last-child {
                    margin-right: 0;
                }

      

        .main {
            -webkit-order: 0;
            order: 0;
            width: 90%;
            max-width: 90%;
            margin: 10px auto;
            text-align: center;
        }
            .main-img {
                max-height: 200px;
                margin: 10px auto;
            }

            .main h2 {
                font-size: 1.7rem;
                text-align: center;
            }
            .main-body {
                flex-direction: column;
                align-items: center;
            }

                .para-aside, .para-main {
                    width: 100%;
                    max-width: 100%;
                }

    /* 404 */
    .missing-page-container {
        padding: 5% 10%;
        min-height: 100vh;
        margin-top: 0;
    }

    /* footer */
    footer {
        padding: 20px 20px;
    }
    .contact {
        flex-direction: column;
    }
    .footer-card-1 {
        line-height: normal;
        margin: 20px 0;
    }

}