/* typography */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #000;
    background-color: #FFF;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

p {
    font-family: 'Lato', 'san-serif';
    font-size: 20px;
}


/* global styles */
.container {
    max-width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.fa {
    display: block;
}
    /* .fa-arrow-right, .fa-arrow-left {
        font-size: 30px;
    } */

/* header */
header {
    padding: 10px 0;
    max-height: 8vh;
}

    .logo-burger {
        display: flex;
        justify-content: space-between;
    }

    .logo img {
        height: 60px;
        width: 50px;
    }

    .burger div {
        margin-bottom: 5px;
        width: 25px;
        height: 2px;
        background-color: #000;
    }

    /* hide navigation by default */
    nav {
        display: none;
    }


/* landing page */
.landing {
    height: 400px;
    padding: 50px 10px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0;
}

/* landing page for work page */
.work-land {
    color: #FFF;
    background-color: #000;
}
    .work-land-head {
        max-width: 50%;
        margin: 0 auto;
    }

    .work-land p {
        max-width: 70%;
        margin: 20px auto;
    }

/* pages */
.pages {
    display: flex;
    justify-content: space-between;
    max-width: 98%;
    margin: 15px auto;
    min-height: 300px;
}
    .page-img {
        max-width: 60%;
        height: 100%;
    }
        .page-picture {
            max-width: 100%;
        }

            .picture-border-left {
                border-top-left-radius: 80px;
            }

            .picture-border-right {
                border-top-right-radius: 80px;
            }
    .page-name {
        width: 35%;
    }
        /* align text to left and right so as to set with border of the container */
        .name-left {
            text-align: left;
            
        }

        .name-right {
            text-align: right;
        }

        .subtitle {
            color: #CCC;
            font-weight: 500;
        }


/* creative expertise */
.expertise {
    max-width: 80%;
    margin: 10px auto;
    text-align: center;
}
    .expertise h1, .expertise p {
        margin: 0;
    }

    .expertise ul {
        max-width: 60%;
        margin: 10px auto;
        margin-top: 50px;
    }

        .expertise li {
            font-size: 2rem;
            margin-bottom: 20px;
            text-align: center;
        }


/* creative process */
.creative-process {
    color: #FFF;
    background-color: #000;
    min-height: 400px;
    padding: 60px;
    box-sizing: border-box;
}
    .creative-flex {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
        .creative-flex h1, .creative-flex p {
            margin: 0;
        }

        .creative-flex h1 {
            font-size: 3rem;
            max-width: 38%;
        }

        .creative-flex p {
            max-width: 50%;
        }
    .creative-items {
        max-width: 90%;
        display: flex;
        margin: 20px auto;
        justify-content: space-evenly;
    }
        .creative-item {
            font-size: 1.2rem;
            max-width: 20%;
        }

/* create magic */
.create-magic {
    width: 100%;
    background-color: #F9F9F9;
    text-align: center;
    min-height: 200px;
    padding: 15px 0;
}
    .magic-btn {
        padding: 5px 30px;
        color: #FFF;
        background-color: #E77F11;
    }
        .magic-btn:hover {
            font-weight: 600;
        }

/* create magic work page */
.create-magic-work-page {
    color: #FFF;
    background-color: rgb(0, 0, 0, 0.9);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}
    .div-1, .div-2 {
        max-width: 40%;
    }

    .create-magic-work-page h5 {
        font-size: 1.2rem;
        text-align: center;
        margin: 0;
    }

    .testimony-header {
        font-style: italic;
        margin-bottom: 20px !important;
    }

    .testimony {
        text-align: center;
    }
        .testimony-img {
            height: 70px;
            width: 70px;
            background-color: #CCC;
            border-radius: 50%;
            margin: 0 auto;
        }

        .testimony-p {
            font-size: .9rem;
            margin: 0;
        }

        .testimony-quote {
            max-width: 60%;
            margin: 10px auto;
            font-size: .9rem;
            text-align: justify;
        }

/* services page */
.service-page {
    text-align: center;
}
    .services {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }

    .service {
        color: #FFF;
        background-color: #000;
        height: 200px;
        width: 200px;
        text-align: center;
        padding: 25px 5px;
        box-sizing: border-box;
        border-radius: 20px;
    }

        .service .fa {
            font-size: 90px;
        }




/* images page */
.all-images {
    width: 100%;
    min-height: 800px;
    box-sizing: border-box;
}
    .three-imgs {
        display: flex;
        justify-content: space-evenly;
        margin: 30px auto;
    }
        .box-imgs {
            height: 350px;
            width: 250px;
        }


/* story page */
.story-para {
    max-width: 80%;
    margin: 10px 0 10px 15%;
}


/* meet our people */
.our-people {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 100%;
}
    .people {
        text-align: center;
        max-width: 24%;
        max-height: 400px;
    }
        .people img {
            width: 99%;
            height: 70%;
        }

        .people p, .people h3 {
            margin: 0;
        }

/* footer */
footer {
    text-align: left;
    color: #FFF;
    background-color: #000;
    min-height: 250px;
    padding: 20px 10px;
}

    .contact {
        display: flex;
        justify-content: space-evenly;
    }
        .footer-card-1 {
            line-height: 135px;
        }

        .contact-p-head {
            text-transform: uppercase;
        }

        .close-margin {
            margin-bottom: 0;
        }
        
        .close-margin-1 {
            margin-top: 0;
        }

        footer .fa {
            padding-right: 20px;
            display: inline;
        }

        footer a {
            color: #FFF;
        }

            footer a:hover {
                font-size: 25px;
            }



/* media queries for landing page */
@media screen and (max-width: 768px) {
    .container {
        max-width: 98%;
    }

    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    h4 {
        font-size: 20px;
    }
    

    .landing {
        height: 300px;
        padding: 20px 10px;
        align-items: center;
    }
        .landing h1, .landing p {
            width: 100%;
        }
        .work-land-head, .work-land p {
            max-width: 100% !important;
        }
        .landing h1 {
            margin: 20px 0;
        }

        .work-land p {
            margin-bottom: 0;
        }

    /* pages */
    .pages {
        flex-direction: column;
    }
        .page-img {
            max-width: 98%;
        }

        .picture-border-left, .picture-border-right {
            border-radius: 0;
        }

        .page-name {
            width: 50%;
            margin-bottom: 10px;
        }

        .name-right {
            text-align: left;
            -webkit-order: 1;
            order: 1;
        }

        .page-img {
            -webkit-order: 2;
            order: 2;
        }

        .fa-arrow-right, .fa-arrow-left {
            display: none;
        }


    /* services page */
    .services {
        flex-direction: column;
    }
        .service {
            margin: 20px auto;
        }


    /* creative expertise */
    .expertise {
        max-width: 95%;
    }
        .expertise ul {
            max-width: 99%;
        }
        .expertise-list li {
            list-style: square;
            font-size: 1.5rem;
        }

    /* creative process page */
    .creative-flex, .creative-items {
        text-align: center;
        flex-direction: column;
    }

    .creative-flex h1, .creative-flex p {
        max-width: 99%;
    }

    .creative-flex h1 {
        font-size: 2rem;
    }

    .creative-item {
        max-width: 90%;
        margin: 10px auto;
        text-align: center;
    }

    /* create magic */
    .create-magic-work-page {
        flex-direction: column;
    }

    .div-1, .div-2 {
        max-width: 100%;
        margin: 20px auto;
    }

    /* footer */
    footer {
        padding: 20px 20px;
    }
    .contact {
        flex-direction: column;
    }
    .footer-card-1 {
        line-height: normal;
        margin: 20px 0;
    }

}